/* style.css */
.spinner {
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    display: grid;
    border: 9px solid #0000;
    border-radius: 50%;
    border-color: #4147bd #0000;
    animation: spinner-e04l1k 1s infinite linear;
  }
  
  .spinner::before,
  .spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 8px; /* Adjust the margin as needed */
    border: inherit;
    border-radius: 50%;
  }
  
  .spinner::before {
    border-color: #474bff #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
  }
  
  .spinner::after {
    margin: 35px; /* Adjust the margin as needed */
  }
  
  @keyframes spinner-e04l1k {
    100% {
      transform: rotate(1turn);
    }
  }
  